<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="content">

	<div id="myNL2GoForm" class="trackingbox-teaser Tx-Formhandler col-md-9">
	<a name="nl-subscription"></a>

	<f:form class="form form-horizontal" id="nlsubscr" method="POST" action="new">

		<div class="form-group ">
			<label class="col-sm-4 control-label text-left"> </label>
			<div class="col-sm-8">
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-info btn-sm">
						<input name="gender" class="radiogrpbtn" id="fhandler-gender-1" value="m" type="radio">
						{f:translate(key:'LLL:EXT:wftmpl_newsletter2go/Resources/Private/Language/locallang.xlf:male')}
					</label>
					<label class="btn btn-info btn-sm">
						<input name="gender" class="radiogrpbtn" id="fhandler-gender-2" value="f" type="radio">
						{f:translate(key:'LLL:EXT:wftmpl_newsletter2go/Resources/Private/Language/locallang.xlf:female')}
					</label>
				</div>
			</div>
		</div>


		<div class="form-group ">
			<label class="col-sm-4 control-label text-left hideMe" for="firstname" id="fhandler-firstname-label">
				{f:translate(key:'LLL:EXT:wftmpl_newsletter2go/Resources/Private/Language/locallang.xlf:firstname')}
			</label>
			<div class="col-sm-8">
				<input class="form-control" id="fhandler-firstname" placeholder="{f:translate(key:'LLL:EXT:wftmpl_newsletter2go/Resources/Private/Language/locallang.xlf:firstname')}" name="firstname" value="" type="text">
			</div>
		</div>


		<div class="form-group ">
			<label class="col-sm-4 control-label text-left hideMe" for="lastname" id="fhandler-lastname-label">
				{f:translate(key:'LLL:EXT:wftmpl_newsletter2go/Resources/Private/Language/locallang.xlf:lastname')}
			</label>
			<div class="col-sm-8">
				<input class="form-control" id="fhandler-lastname" placeholder="{f:translate(key:'LLL:EXT:wftmpl_newsletter2go/Resources/Private/Language/locallang.xlf:lastname')}" name="lastname" value="" type="text">
			</div>
		</div>


		<div class="form-group ">
			<label class="col-sm-4 control-label text-left hideMe" for="company" id="fhandler-company-label">
				{f:translate(key:'LLL:EXT:wftmpl_newsletter2go/Resources/Private/Language/locallang.xlf:company')}
			</label>
			<div class="col-sm-8">
				<input class="form-control" id="fhandler-company" placeholder="{f:translate(key:'LLL:EXT:wftmpl_newsletter2go/Resources/Private/Language/locallang.xlf:company')}" name="company" value="" type="text">

			</div>
		</div>


		<div class="form-group ">
			<label class="col-sm-4 control-label text-left hideMe" for="email" id="fhandler-email-label">
				{f:translate(key:'LLL:EXT:wftmpl_newsletter2go/Resources/Private/Language/locallang.xlf:email')}<span>*</span>
			</label>
			<div class="col-sm-8">
				<input class="form-control" id="fhandler-email" placeholder="{f:translate(key:'LLL:EXT:wftmpl_newsletter2go/Resources/Private/Language/locallang.xlf:email')}" name="email" value="" type="text">
			</div>
		</div>


		<div class="form-group ">
			<label for="country" class="col-sm-4 control-label text-left">
				{f:translate(key:'LLL:EXT:wftmpl_newsletter2go/Resources/Private/Language/locallang.xlf:country')}
				<span>*</span>
			</label>
			<div class="col-sm-8">
				<select class="form-control" id="country" name="country">
					<option value="" selected="selected"></option>
					<option value="Afghanistan">Afghanistan</option>
					<option value="Åland">Åland</option>
					<option value="Albania">Albania</option>
					<option value="Algeria">Algeria</option>
					<option value="American Samoa">American Samoa</option>
					<option value="Andorra">Andorra</option>
					<option value="Angola">Angola</option>
					<option value="Anguilla">Anguilla</option>
					<option value="Antarctica">Antarctica</option>
					<option value="Antigua and Barbuda">Antigua and Barbuda</option>
					<option value="Argentina">Argentina</option>
					<option value="Armenia">Armenia</option>
					<option value="Aruba">Aruba</option>
					<option value="Australia">Australia</option>
					<option value="Austria">Austria</option>
					<option value="Azerbaijan">Azerbaijan</option>
					<option value="Bahrain">Bahrain</option>
					<option value="Bangladesh">Bangladesh</option>
					<option value="Barbados">Barbados</option>
					<option value="Belarus">Belarus</option>
					<option value="Belgium">Belgium</option>
					<option value="Belize">Belize</option>
					<option value="Benin">Benin</option>
					<option value="Bermuda">Bermuda</option>
					<option value="Bhutan">Bhutan</option>
					<option value="Bolivia">Bolivia</option>
					<option value="Bonaire, Sint Eustatius and Saba">Bonaire, Sint Eustatius and Saba</option>
					<option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
					<option value="Botswana">Botswana</option>
					<option value="Bouvet Island">Bouvet Island</option>
					<option value="Brazil">Brazil</option>
					<option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
					<option value="British Virgin Islands">British Virgin Islands</option>
					<option value="Brunei">Brunei</option>
					<option value="Bulgaria">Bulgaria</option>
					<option value="Burkina Faso">Burkina Faso</option>
					<option value="Burundi">Burundi</option>
					<option value="Cambodia">Cambodia</option>
					<option value="Cameroon">Cameroon</option>
					<option value="Canada">Canada</option>
					<option value="Cape Verde">Cape Verde</option>
					<option value="Cayman Islands">Cayman Islands</option>
					<option value="Central African Republic">Central African Republic</option>
					<option value="Chad">Chad</option>
					<option value="Chile">Chile</option>
					<option value="China">China</option>
					<option value="Christmas Island">Christmas Island</option>
					<option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
					<option value="Colombia">Colombia</option>
					<option value="Comoros">Comoros</option>
					<option value="Congo">Congo</option>
					<option value="Congo-Brazzaville">Congo-Brazzaville</option>
					<option value="Costa Rica">Costa Rica</option>
					<option value="Côte d’Ivoire">Côte d’Ivoire</option>
					<option value="Croatia">Croatia</option>
					<option value="Cuba">Cuba</option>
					<option value="Curaçao">Curaçao</option>
					<option value="Cyprus">Cyprus</option>
					<option value="Czech Republic">Czech Republic</option>
					<option value="Denmark">Denmark</option>
					<option value="Djibouti">Djibouti</option>
					<option value="Dominica">Dominica</option>
					<option value="Dominican Republic">Dominican Republic</option>
					<option value="Egypt">Egypt</option>
					<option value="El Salvador">El Salvador</option>
					<option value="Equatorial Guinea">Equatorial Guinea</option>
					<option value="Eritrea">Eritrea</option>
					<option value="Estonia">Estonia</option>
					<option value="Ethiopia">Ethiopia</option>
					<option value="Falkland Islands">Falkland Islands</option>
					<option value="Faroes">Faroes</option>
					<option value="Fiji">Fiji</option>
					<option value="Finland">Finland</option>
					<option value="France">France</option>
					<option value="French Guiana">French Guiana</option>
					<option value="French Polynesia">French Polynesia</option>
					<option value="French Southern Territories">French Southern Territories</option>
					<option value="Gabon">Gabon</option>
					<option value="Gambia">Gambia</option>
					<option value="Georgia">Georgia</option>
					<option value="DE">Germany</option>
					<option value="Ghana">Ghana</option>
					<option value="Gibraltar">Gibraltar</option>
					<option value="Greece">Greece</option>
					<option value="Greenland">Greenland</option>
					<option value="Grenada">Grenada</option>
					<option value="Guadeloupe">Guadeloupe</option>
					<option value="Guam">Guam</option>
					<option value="Guatemala">Guatemala</option>
					<option value="Guernsey">Guernsey</option>
					<option value="Guinea">Guinea</option>
					<option value="Guinea-Bissau">Guinea-Bissau</option>
					<option value="Guyana">Guyana</option>
					<option value="Haiti">Haiti</option>
					<option value="Heard Island and McDonald Islands">Heard Island and McDonald Islands</option>
					<option value="Honduras">Honduras</option>
					<option value="Hong Kong SAR of China">Hong Kong SAR of China</option>
					<option value="Hungary">Hungary</option>
					<option value="Iceland">Iceland</option>
					<option value="India">India</option>
					<option value="Indonesia">Indonesia</option>
					<option value="Iran">Iran</option>
					<option value="Iraq">Iraq</option>
					<option value="Ireland">Ireland</option>
					<option value="Isle of Man">Isle of Man</option>
					<option value="Israel">Israel</option>
					<option value="Italy">Italy</option>
					<option value="Jamaica">Jamaica</option>
					<option value="Japan">Japan</option>
					<option value="Jersey">Jersey</option>
					<option value="Jordan">Jordan</option>
					<option value="Kazakhstan">Kazakhstan</option>
					<option value="Kenya">Kenya</option>
					<option value="Kiribati">Kiribati</option>
					<option value="Kuwait">Kuwait</option>
					<option value="Kyrgyzstan">Kyrgyzstan</option>
					<option value="Laos">Laos</option>
					<option value="Latvia">Latvia</option>
					<option value="Lebanon">Lebanon</option>
					<option value="Lesotho">Lesotho</option>
					<option value="Liberia">Liberia</option>
					<option value="Libya">Libya</option>
					<option value="Liechtenstein">Liechtenstein</option>
					<option value="Lithuania">Lithuania</option>
					<option value="Luxembourg">Luxembourg</option>
					<option value="Macao SAR of China">Macao SAR of China</option>
					<option value="Macedonia">Macedonia</option>
					<option value="Madagascar">Madagascar</option>
					<option value="Malawi">Malawi</option>
					<option value="Malaysia">Malaysia</option>
					<option value="Maldives">Maldives</option>
					<option value="Mali">Mali</option>
					<option value="Malta">Malta</option>
					<option value="Marshall Islands">Marshall Islands</option>
					<option value="Martinique">Martinique</option>
					<option value="Mauritania">Mauritania</option>
					<option value="Mauritius">Mauritius</option>
					<option value="Mayotte">Mayotte</option>
					<option value="Mexico">Mexico</option>
					<option value="Micronesia">Micronesia</option>
					<option value="Moldova">Moldova</option>
					<option value="Monaco">Monaco</option>
					<option value="Mongolia">Mongolia</option>
					<option value="Montenegro">Montenegro</option>
					<option value="Montserrat">Montserrat</option>
					<option value="Morocco">Morocco</option>
					<option value="Mozambique">Mozambique</option>
					<option value="Myanmar">Myanmar</option>
					<option value="Namibia">Namibia</option>
					<option value="Nauru">Nauru</option>
					<option value="Nepal">Nepal</option>
					<option value="Netherlands">Netherlands</option>
					<option value="New Caledonia">New Caledonia</option>
					<option value="New Zealand">New Zealand</option>
					<option value="Nicaragua">Nicaragua</option>
					<option value="Niger">Niger</option>
					<option value="Nigeria">Nigeria</option>
					<option value="Niue">Niue</option>
					<option value="Norfolk Island">Norfolk Island</option>
					<option value="North Korea">North Korea</option>
					<option value="Northern Marianas">Northern Marianas</option>
					<option value="Norway">Norway</option>
					<option value="Oman">Oman</option>
					<option value="Pakistan">Pakistan</option>
					<option value="Palau">Palau</option>
					<option value="Palestine">Palestine</option>
					<option value="Panama">Panama</option>
					<option value="Papua New Guinea">Papua New Guinea</option>
					<option value="Paraguay">Paraguay</option>
					<option value="Peru">Peru</option>
					<option value="Philippines">Philippines</option>
					<option value="Pitcairn Islands">Pitcairn Islands</option>
					<option value="Poland">Poland</option>
					<option value="Portugal">Portugal</option>
					<option value="Puerto Rico">Puerto Rico</option>
					<option value="Qatar">Qatar</option>
					<option value="Reunion">Reunion</option>
					<option value="Romania">Romania</option>
					<option value="Russia">Russia</option>
					<option value="Rwanda">Rwanda</option>
					<option value="Saint Barthélemy">Saint Barthélemy</option>
					<option value="Saint Helena, Ascension and Tristan da Cunha">Saint Helena, Ascension and Tristan da Cunha</option>
					<option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
					<option value="Saint Lucia">Saint Lucia</option>
					<option value="Saint Martin">Saint Martin</option>
					<option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
					<option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
					<option value="Samoa">Samoa</option>
					<option value="San Marino">San Marino</option>
					<option value="São Tomé e Príncipe">São Tomé e Príncipe</option>
					<option value="Saudi Arabia">Saudi Arabia</option>
					<option value="Senegal">Senegal</option>
					<option value="Serbia">Serbia</option>
					<option value="Seychelles">Seychelles</option>
					<option value="Sierra Leone">Sierra Leone</option>
					<option value="Singapore">Singapore</option>
					<option value="Sint Maarten">Sint Maarten</option>
					<option value="Slovakia">Slovakia</option>
					<option value="Slovenia">Slovenia</option>
					<option value="Solomon Islands">Solomon Islands</option>
					<option value="Somalia">Somalia</option>
					<option value="South Africa">South Africa</option>
					<option value="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
					<option value="South Korea">South Korea</option>
					<option value="South Sudan">South Sudan</option>
					<option value="Spain">Spain</option>
					<option value="Sri Lanka">Sri Lanka</option>
					<option value="Sudan">Sudan</option>
					<option value="Suriname">Suriname</option>
					<option value="Svalbard">Svalbard</option>
					<option value="Swaziland">Swaziland</option>
					<option value="Sweden">Sweden</option>
					<option value="CH">Switzerland</option>
					<option value="Syria">Syria</option>
					<option value="Taiwan">Taiwan</option>
					<option value="Tajikistan">Tajikistan</option>
					<option value="Tanzania">Tanzania</option>
					<option value="Thailand">Thailand</option>
					<option value="The Bahamas">The Bahamas</option>
					<option value="Timor-Leste">Timor-Leste</option>
					<option value="Togo">Togo</option>
					<option value="Tokelau">Tokelau</option>
					<option value="Tonga">Tonga</option>
					<option value="Trinidad and Tobago">Trinidad and Tobago</option>
					<option value="Tunisia">Tunisia</option>
					<option value="Turkey">Turkey</option>
					<option value="Turkmenistan">Turkmenistan</option>
					<option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
					<option value="Tuvalu">Tuvalu</option>
					<option value="Uganda">Uganda</option>
					<option value="Ukraine">Ukraine</option>
					<option value="United Arab Emirates">United Arab Emirates</option>
					<option value="United Kingdom">United Kingdom</option>
					<option value="United States">United States</option>
					<option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
					<option value="Uruguay">Uruguay</option>
					<option value="US Virgin Islands">US Virgin Islands</option>
					<option value="Uzbekistan">Uzbekistan</option>
					<option value="Vanuatu">Vanuatu</option>
					<option value="Vatican City">Vatican City</option>
					<option value="Venezuela">Venezuela</option>
					<option value="Vietnam">Vietnam</option>
					<option value="Wallis and Futuna">Wallis and Futuna</option>
					<option value="Western Sahara">Western Sahara</option>
					<option value="Yemen">Yemen</option>
					<option value="Zambia">Zambia</option>
					<option value="Zimbabwe">Zimbabwe</option>
				</select>
			</div>
		</div>


		<div class="form-group ">
			<label class="col-sm-4 control-label text-left">
				{f:translate(key:'LLL:EXT:wftmpl_newsletter2go/Resources/Private/Language/locallang.xlf:language')}<span>*</span>
			</label>
			<div class="col-sm-8">
				<div class="btn-group">
					<label class="btn btn-info btn-sm" for="fhandler-language-1">
						<input name="language" class="radiogrpbtn showMe" id="fhandler-language-1" value="Englisch" type="radio">
						{f:translate(key:'LLL:EXT:wftmpl_newsletter2go/Resources/Private/Language/locallang.xlf:english')}
					</label>
					<label class="btn btn-info btn-sm" for="fhandler-language-2">
						<input name="language" class="radiogrpbtn showMe" id="fhandler-language-2" value="Deutsch" type="radio">
						{f:translate(key:'LLL:EXT:wftmpl_newsletter2go/Resources/Private/Language/locallang.xlf:german')}
					</label>
				</div>
			</div>
		</div>

		<div class="form-group submitContainer">
			<div class="col-sm-8 col-sm-offset-4">
				<input id="submitMe" name="step-2-next" class="btn btn-primary" value="{f:translate(key:'LLL:EXT:wftmpl_newsletter2go/Resources/Private/Language/locallang.xlf:submit')}" type="submit">
			</div>
		</div>
	</f:form>
</div>

</f:section>
</html>